@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* The below was pulled from https://stackoverflow.com/a/1636635 to have lettered with parentheses <ul> */
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    position: relative;
}
ol > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) ") ";
    position: absolute;
    left: -1.4em;
}
